leetcode/rust/target
google-foobar/.idea
Alex/UVa/test3.txt
Alex/UVa/test2.txt
Alex/UVa/test.txt
Alex/UVa/out3.txt
Alex/UVa/out2.txt
Alex/UVa/out.txt
Alex/UVa/out-kd.txt
Alex/UVa/out-bf.txt
Alex/UVa/maketest.py
augusto/icpc/regionals/dhaka/2011/a.out
augusto/icpc/regionals/2016/a.out
*.exe
leetcode/rust/Cargo.lock
competitions/Regional 2009/out.txt
competitions/Regional 2008/out.txt
competitions/LA 2007/test.txt
competitions/LA 2014/out.txt
competitions/LA 2014/test.txt
competitions/NCPC 2014/test.txt
competitions/Regional 2005/out.txt
competitions/Regional 2005/test.txt
competitions/Regional 2004/test.txt
competitions/Regional 2004/out.txt
competitions/Regional 2006/out.txt
competitions/Regional 2006/test.txt
competitions/Regional 2007/out.txt
competitions/Regional 2007/test.txt
competitions/Regional 2009/test.txt
competitions/Regional 2008/test.txt
competitions/Regional 2010/test.txt
competitions/Regional 2011/test.txt
competitions/Regional 2012/test.txt
competitions/Regional 2013/out.txt
competitions/Regional 2013/test.txt
competitions/Regional 2014/test.txt
competitions/Regional 2015/out.txt
competitions/Regional 2015/test.txt
competitions/URI - Essos/test.txt
competitions/World Finals 2014/test.txt
competitions/URI - Westeros/test.txt
competitions/USP - ICMC 2015/test.txt
leetcode/cpp/.vscode/settings.json
leetcode/cpp/a.out
leetcode/cpp/test.in
unsorted/Kattis/test.txt
unsorted/TUM/Semana 7 - Geometria/test.txt
uri/test.txt
unsorted/a.out
unsorted/augusto/a.out
