{ BasedOnStyle: "LLVM", IndentWidth: 2, UseTab: Never, TabWidth: 2, AlignConsecutiveAssignments: false, PointerAlignment: Left, AlignTrailingComments: true, AlignOperands: true, AllowShortIfStatementsOnASingleLine: true, AllowShortLoopsOnASingleLine: false, SortIncludes: true, ColumnLimit: 80, Cpp11BracedListStyle: true }